/* GLOBAL STYLES */
:root {
    --blue: #0000FF;
    --light-red: #FF4D52;
    --red: #C1272D;
    --red-transparent: #c1272c50;
    --dark-red: #8F1D20;
    --dark-red-transparent: #7E181B28;
    --green: #00751F;
    --light-green: #27C250;
    --blue-green: #0C7563;
    --blue-green-transparent: #14645743;
    --light-blue-green: #1ED5b7;
    --dark-blue-green: #024035;
    --dark-blue-green-transparent: #0051425f;
    --light-brown: #A67C52;
    --light-brown-transparent: #a67c52bd;
    --brown: #754C24;
    --dark-brown: #603813;
    --darker-brown: #42210B;
    --white: #FFFFFF;
    --light-grey: #F0F0F0;
    --grey: #707070;
    --dark-grey: #303030;
    --dark-grey-transparent: #30303030;
    --black: #000000;
    --black-shadow: #00000036;
    --black-transparent: #00000090;
    --transparent: #ffffff00;
    --items-per-screen: 3;
    --carousel-index: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Articulat CF", sans-serif;
    color: var(--dark-grey);
}

main {
    margin: auto;
    max-width: 80%;
}

h1, h2, h3, h4 {
    font-family: "Timonium", sans-serif;
}

h1 {
    font-size: 6rem;
    line-height: 90px;
    font-weight: 300;
}

h2 {
    font-size: 3.5rem;
    font-weight: 500;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

h5 {
    font-size: 1.25rem;
    font-family: "Articulat CF", sans-serif;
    font-weight: 800;
}

p {
    line-height: 1.65;
}

a {
    text-decoration: none;
    color: var(--dark-grey);
}

button, input[type=submit] {
    font-family: "Articulat CF", sans-serif;
}

button:hover, input[type=submit]:hover {
    cursor: pointer;
}

label {
    font-weight: 700;
}

.logo-link {
    border: 1px solid white;
    width: 200px;
    height: 200px;
}

.header-top {
    background-color: var(--black);
}

.header-logo {
    margin-left: 100px;
    width: 300px;
}

.header-nav {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 1px solid var(--dark-red-transparent);
    border-style: solid none solid none;
    background-color: var(--black);
}

.header-nav a {
    width: 160px;
    padding: 20px;
    background-color: var(--black);
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.header-nav .nav-active {
    background-color: var(--red-transparent);
    color: var(--white);
}

.mobile-nav {
    display: none;
    box-shadow: 0 3px 5px var(--black-shadow);
}

.mobile-header {
    padding: 22px;
    background-color: var(--dark-red);
}

.mobile-header a {
    font-size: 24px;
    font-family: "Timonium", sans-serif;
    text-transform: uppercase;
    color: var(--white);
}

.hamburger-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 23px 26px;
    background-color: var(--dark-red);
    font-size: 1.2em;
    color: var(--white);
}

#hamburgerMenu {
    position: absolute;
    top: 240px;
    right: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.3s;
    box-shadow: -2px 3px 5px var(--black-shadow);
    width: 230px;
    pointer-events: none;
    background-color: var(--light-grey);
}

#hamburgerMenu a {
    border-top: 1px solid var(--grey);
    padding: 24px;
    text-align: center;
    color: var(--dark-grey);
    text-decoration: none;
}

#hamburgerMenu a:first-child {
    border: none;
}

.header-section {
    margin-bottom: 50px;
}

.header-img {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
}

.header-black {
    background-color: var(--black);
}

.header-title {
    background-image: linear-gradient(180deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.3) 10%,
    rgba(0,0,0,0.8) 30%,
    rgba(0,0,0,1)75%);
}

.header-title h1 {
    padding: 50px 0 10px 0;
    color: var(--white);
}

.header-title p {
    padding-bottom: 18px;
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
}

.header-img_small h1 {
    margin-top: 180px;
}

.small-nav {
    display: flex;
    height: 40px;
    background-color: var(--dark-grey-transparent);
}

.breadcrumb {
    position: absolute;
    left: 112px;
    align-self: center;
}

.post-category, .post-date {
    font-weight: 800;
    color: var(--grey)!important;
}

.post-category {
    text-transform: uppercase;
}

.post-category::after {
    content: "-";
    margin-right: 4px;
    margin-left: 8px;
    color: var(--dark-red);
}

.newsletter-message {
    display: none;
    margin-left: 16px;
}

.newsletter-message i {
    margin-right: 6px;
}

.newsletter-error i {
    color: var(--light-red);
}

.newsletter-validation i {
    color: var(--light-green);
}

.newsletter-email {
    margin: 4px 0 10px 0;
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 8px;
    background-color: var(--light-grey);
    font-size: 1em;
    color: var(--dark-grey)!important;
}

.newsletter-email:focus {
    border: 2px solid var(--blue-green);
    border-style: none none solid none;
    outline: none;
}

.loading {
    margin: 50px;
    border: 8px solid var(--light-grey);
    border-top: 8px solid var(--red);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* BUTTONS/CTA */
.cta {
    box-shadow: 0 3px 6px var(--black-shadow);
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 800;
    text-transform: capitalize;
}

.btn-green {
    transition: 0.1s;
    box-shadow: 2px 3px 5px var(--blue-green-transparent);
    background: linear-gradient(20deg, var(--blue-green-transparent), var(--dark-blue-green-transparent));
    color: var(--blue-green);
}

.btn-red {
    transition: 0.1s;
    box-shadow: 2px 3px 5px var(--red-transparent);
    background: linear-gradient(20deg, var(--red-transparent), var(--dark-red-transparent));
    color: var(--red);
}

.btn-newsletter {
    transition: 0.1s;
    box-shadow: 0 3px 3px var(--dark-blue-green);
    padding: 10px 20px;
    border: 1px solid var(--blue-green);
    border-radius: 10px;
    background-color: var(--blue-green);
    font-size: 18px;
    font-weight: 800;
}

.back-btn {
    z-index: 1;
    transition: 0.3s;
    border: none;
    padding: 0 16px;
    background: linear-gradient(30deg, var(--dark-red), var(--red));
}

.back-btn i {
    font-size: 22px;
    vertical-align: middle;
    color: var(--white);
}

.back-btn span, .scroll-btn span {
    position: relative;
    display: inline-block;
    transition: 0.3s;
}

.back-btn span:before {
    content: "Back";
    position: absolute;
    top: 3px;
    left: 60px;
    opacity: 0;
    transition: 0.3s;
    font-size: 18px;
    color: var(--white);
    pointer-events: none;
}

.scroll-btn {
    position: absolute;
    right: 0;
    transition: 0.3s;
    margin: 32px;
    box-shadow: 2px 3px 5px var(--red-transparent);
    border: none;
    border-radius: 5px;
    width: 42px;
    padding: 10px 12px;
    background: linear-gradient(120deg, var(--dark-red), var(--red));
}

.scroll-btn i {
    font-size: 22px;
    vertical-align: middle;
    color: var(--white);
}

.scroll-btn span:after {
    content: "Scroll to top";
    position: absolute;
    top: 2px;
    right: 60px;
    opacity: 0;
    transition: 0.3s;
    width: 94px;
    font-size: 18px;
    color: var(--white);
    pointer-events: none;
}

/* HOVER EFFECTS */
@media (min-width: 769px) {
    .header-nav a:hover {
        background-color: var(--dark-red);
        color: var(--white);
    }

    .breadcrumb a:hover {
        text-decoration: underline;
    }

    .newsletter-email:hover {
        border: 2px solid var(--blue-green);
        border-style: none none solid none;
    }
    
    .btn-green:hover {
        background-color: var(--blue-green);
        color: var(--white);
    }

    .btn-red:hover {
        background-color: var(--red);
        color: var(--white);
    }

    .btn-newsletter:hover {
        background-color: var(--white);
        color: var(--blue-green);
    }

    .back-btn:hover span {
        padding-right: 48px;
    }
    
    .back-btn:hover span:before {
        left: 20px;
        opacity: 1;
    }

    .scroll-btn:hover {
        width: 142px;
        background-color: var(--red);
    }
    
    .scroll-btn:hover span {
        padding-left: 100px;
    }
    
    .scroll-btn:hover span:after {
        right: 25px;
        opacity: 1;
        width: 100px;
    }

    .carousel-post:hover .carousel-details {
        padding: 56px 16px 40px 16px;
    }

    .carousel-btn:hover {
        background-color: var(--grey);
    }

    .contact-input:hover {
        border: 2px solid var(--dark-grey);
        border-style: none none solid none;
    }

    .contact-form input[type=submit]:hover {
        border: 2px solid var(--blue-green);
        background-color: var(--blue-green);
        color: var(--white);
    }

    .search-btn:hover {
        background: linear-gradient(45deg, var(--red), var(--light-red));
    }

    .sort-reset:hover {
        border: 1px solid var(--dark-red);
        background: linear-gradient(120deg, var(--red), var(--light-red));
    }

    .bloglist-post:hover .bloglist-details {
        border-bottom: 3px solid var(--red);

    }

    #viewMore:hover i, #viewLess:hover i {
        transform: rotate(0deg);
        margin-left: 16px;
        color: var(--red);
    
    }

    .post-button a:hover {
        background: var(--dark-red);
    }

    footer a:hover {
        text-decoration: underline;
     }
}

/* HOME PAGE */
.index-center {
    background: -webkit-linear-gradient(left, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,0) 15%, 
    rgba(0,0,0,0) 85%, 
    rgba(0,0,0,1) 100%), 
    url(../images/playing.jpg);

    background-size: cover;
    background-position: 0 60%;
}

.index-center h1 {
    margin-top: 300px;
}

.index-latest {
    width: 100%;
}

.index-latest h2 {
    margin-left: 50px;
}

.header-title br {
    display: none;
}

.carousel-container {
    overflow: hidden;
    border-top: 4px solid var(--red);
    padding-top: 50px;
}

.carousel {
    display: flex;
    transform: translateX(calc(var(--carousel-index) * -100%));
    transition: transform 0.5s ease-in-out;
}

.carousel-post {
    position: relative;
    transition: 0.4s;
    margin: 0 .416%;
    box-shadow: 0 2px 4px var(--black-shadow);
    min-width: 32.5%;
    max-width: 32.5%;
    height: 320px;
    background-size: cover;
}

.carousel-details {
    position: absolute;
    bottom: 0;
    transition: 0.3s;
    width: 100%;
    padding: 40px 16px 8px 16px;
    background: linear-gradient(180deg,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.6) 10%,
    rgba(0,0,0,0.9) 30%,
    rgba(0,0,0,1)75%);

}

.carousel-details * {
    color: var(--white);
}

.carousel-details .post-details {
    margin-bottom: 8px;
}

.excerpt-show {
    display: none;
}

.latest-nav {
    display: flex;
    justify-content: center;
    gap: 32px;
    border-bottom: 4px solid var(--red);
    padding: 20px 0 30px 0;
    align-items: center;
}

.carousel-btn {
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background-color: var(--dark-grey);
    font-size: 32px;
    line-height: 0;
    color: var(--white);
}

.prev {
    margin-left: 4px;
}

.next {
    margin-right: 4px;
}

.progress-bar {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.progress-item {
    flex: 0 0 24px;
    min-width: 24px;
    height: 8px;
    background-color: var(--red-transparent);
    cursor: pointer;
}

.progress-item.active {
    background-color: var(--red);
}

.latest-mobile_posts, .latest-mobile_link {
    display: none;
}

/* CONTACT PAGE */
.contact-center {
    background: -webkit-linear-gradient(left, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,0) 15%, 
    rgba(0,0,0,0) 75%, 
    rgba(0,0,0,1) 100%), 
    url(../images/microphone.jpg);

    background-size: cover;
    background-position: 0 50%;
}

.contact-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    box-shadow: 0 3px 6px var(--black-shadow);
    border-radius: 10px;
    width: 75%;
}

.contact-form {
    margin: auto;
    padding: 32px 0;
}

.contact-form > i {
    margin-bottom: 16px;
    width: 100%;
    font-size: 48px;
    text-align: center;
}

.contact-form h2 {
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

.required {
    font-size: 12px;
    vertical-align: top;
    color: var(--red);
}

.required-field {
    margin-top: 16px;
}

#validationMessage {
    display: none;
    margin: 16px auto;
    border-radius: 10px;
    width: 64%;
    padding: 10px;
    background-color: var(--green);
    font-weight: 100;
    text-align: center;
    color: var(--white);
}

.form-error {
    display: none;
    margin-top: 2px;
    padding-left: 4px;
    color: var(--light-red);
}

.contact-input {
    transition: 0.1s;
    margin: 4px 0;
    border: 2px solid var(--light-grey);
    border-style: none none solid none;
    padding: 0 8px;
    background-color: var(--light-grey);
    font-size: 1em;
}

.contact-text {
    height: 40px;
}

.contact-textarea {
    height: 150px;
    padding: 8px;
    font-family: "Articulat CF", sans-serif;
    resize: none;
}

.contact-input:focus {
    outline: none;
    border: 2px solid var(--dark-grey);
    border-style: none none solid none;
}

.contact-form label {
    margin-top: 30px;
    padding-left: 4px;
}

.contact-form input[type=submit] {
    transition: 0.1s;
    margin-top: 16px;
    box-shadow: 0 3px 6px var(--black-shadow);
    border: 2px solid var(--blue-green);
    border-radius: 10px;
    width: 150px;
    height: 60px;
    font-size: 21px;
    font-weight: 800;
    text-transform: capitalize;
}

.contact-img {
    border-radius: 0 10px 10px 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ABOUT PAGE*/
.about-center {
    background: -webkit-linear-gradient(left, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,0) 15%, 
    rgba(0,0,0,0) 75%, 
    rgba(0,0,0,1) 100%), 
    url(../images/behind-bw.jpg);

    background-size: cover;
    background-position: 0 50%;
}

.who-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
    margin: auto;
    border-bottom: 1px solid var(--dark-grey);
    width: 75%;
    padding: 0 20px 75px 20px;
}

.about-container h5 {
    margin: 16px 0 4px 0;
}

.about-img img {
    border-radius: 10px;
    max-width: 480px;
}

.lessons-container {
    margin: 50px auto 0 auto;
    width: 75%;
    padding: 0 20px;
}

.lessons-header {
    margin-bottom: 30px;
}

.lessons-header h3 {
    position: absolute;
    border-radius: 10px 0 10px 0;
    padding: 20px;
    background-color: var(--black-transparent);
    color: var(--white);
}

.lessons-header img {
    border-radius: 10px;
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.lessons-details {
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
}

.lessons-details img {
    border-radius: 10px;
    max-width: 480px;
}

.about-btn {
    margin-top: 32px;
}

/* BLOG LIST PAGE */
.bloglist-center {
    background: -webkit-linear-gradient(left, 
    rgba(0,0,0,1) 0%, 
    rgba(0,0,0,0) 15%, 
    rgba(0,0,0,0) 75%, 
    rgba(0,0,0,1) 100%), 
    url(../images/sticks-bw.jpg);

    background-size: cover;
    background-position: 0 50%;
}

.bloglist-container {
    display: grid;
    grid-template-columns: 17% 83%;
    margin: auto;
}

.blogposts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rest-container {
    display: none;
}

.sort-container {
    position: sticky;
    top: 32px;
    margin-right: 8px;
    border-radius: 5px;
    text-align: center;
}

.search-container {
    display: grid;
    grid-template-columns: 17% 67% 16%;
    border-radius: 5px;
}

.search-container label {
    border-radius: 5px 0 0 5px;
    padding: 8px 0;
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

.search-container label i {
    vertical-align: middle;
}

.search-container input {
    border: none;
    background-color: var(--light-grey);
}

.search-container input:focus {
    outline: none;
}

.search-btn {
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    background: linear-gradient(45deg, var(--dark-red), var(--red));
    color: var(--white);
}

.categories-container {
    margin-top: 8px;
    box-shadow: 2px 3px 5px var(--black-shadow);
    border-radius: 5px;
    padding: 24px 0;
    background-color: var(--dark-grey);
    color: var(--white);
}

.categories-container select {
    margin-top: 8px;
    outline: none;
    border: none;
    width: 70%;
    height: 32px;
    padding: 4px;
}

.sort-reset {
    margin-top: 24px;
    border: 1px solid var(--black-transparent);
    border-radius: 5px;
    width: 60%;
    padding: 10px;
    background: linear-gradient(120deg, var(--dark-red), var(--red));
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
}

.bloglist {
    width: 100%;
}

.bloglist > i {
    float: left;
    margin: 2px 8px 2px 16px;
    font-size: 2.2em;
    color: var(--red);
}

.bloglist-heading {
    margin-bottom: 8px;
    border-bottom: 3px solid var(--red);
    text-transform: capitalize;
}

.posts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.bloglist-post {
    display: grid;
    grid-template-columns: 40% 60%;
    transition: 0.1s;
    box-shadow: 2px 3px 5px var(--black-shadow);
}

.bloglist-post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bloglist-details {
    transition: 0.1s;
    border-bottom: 3px solid var(--transparent);
    height: 100%;
    padding: 12px;
}

.bloglist-post .post-category {
    margin: 5px 0 10px 0;
}

.view-btn {
    margin-top: 16px;
    border: 2.5px solid var(--red);
    border-radius: 5px;
    width: 176px;
    padding: 10px 24px;
    background-color: var(--white);
    font-size: 16px;
    font-weight: 700;
    color: var(--red);
    white-space: nowrap;
}

#viewLess {
    display: none;
}

#viewMore i, #viewLess i {
    transform: rotate(90deg);
    transition: 0.2s;
    color: var(--white);
}

/* BLOG POST PAGE */
.header-img_post h1 {
    margin-top: 220px;
}

.header-title #postHeader {
    padding-bottom: 0;
}

#postSub {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

#postSub span {
    text-transform: uppercase;
    color: var(--white);
}

#postSub span::after {
    content: "|";
    padding: 0 32px;
    color: var(--red);
}

#postSub span:last-child::after {
    content: "";
    padding: 0;
}

.post-container {
    margin: auto;
    max-width: 500px;
}

.post-container h3 {
    margin-top: 32px;
}

.post-container p {
    margin: 16px auto;
}

.post-container img {
    width: 100%;
    height: 100%;
}

.wp-block-media-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 16px auto;
}

.wp-block-media-text p {
    margin: auto;
}

.wp-block-media-text__media img {
    object-fit: cover;
}

.wp-block-media-text__content {
    margin: auto;
}

.budget-container figure {
    border-radius: 10px;
    background-size: cover;
}

.budget-container figure img {
    display: none;
}

.budget-container {
    grid-template-rows: 300px;
    border: 1px solid var(--dark-grey-transparent);
    border-radius: 10px;
    padding: 18px;
}

.budget-container h5 {
    margin-bottom: 8px;
}

table {
    margin: 16px auto 0 auto;
    border: 1px solid var(--dark-grey-transparent);
    border-style: solid solid none solid;
    width: 100%;
    height: 100%;
    padding: 8px 0;
}

td {
    padding: 8px 20px;
}

td:first-child {
    text-align: center;
}

.post-content li {
    margin: 8px 0 16px 0;
}

.wp-block-group p {
    margin: 0;
}

.post-button {
    margin: 10px auto 64px auto;
}

.post-button a {
    box-shadow: 2px 3px 5px var(--black-shadow);
    border-radius: 7px;
    padding: 14px 24px;
    background: var(--red);
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.post-button i {
    margin-left: 4px;
    color: var(--white);
}

.wp-block-audio audio {
    width: 100%;
}

/* FOOTER */
footer {
    margin-top: 100px;
    padding: 70px 0 90px 0;
    background-color: var(--dark-grey);
}

footer * {
    color: var(--white);
}

footer a {
    color: var(--light-blue-green);
}

.footer-content {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: auto;
    width: 80%;
}

.footer-contact {
    margin-bottom: 20px;
}

.footer-phone {
    margin: 10px 0;
}

.footer-right div {
    margin-top: 12px;
}

/* MEDIA QUERIES - DESKTOP/LAPTOP */
@media (max-width: 1580px) {
    .header-img {
        grid-template-columns: auto 1060px auto;
    }

    .index-center h1 {
        margin-top: 250px;
    }

    .newsletter-message {
        margin: 16px auto;
    }

    .carousel-details h3, .carousel-excerpt {
        width: 73%;
    }

    .bloglist-container {
        grid-template-columns: 20% 80%;
    }

    .who-container {
        gap: 16px;
    }

    .about-img img, .lessons-details img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 1332px) {
    .header-img {
        grid-template-columns: auto 800px auto;
    }

    .index-center h1 {
        margin-top: 120px;
    }

    .bloglist-container {
        grid-template-columns: 23% 77%;
    }

    .blogposts {
        gap: 0 16px;
    }

    .bloglist-post {
        grid-template-columns: 1fr;
        border-bottom: 3px solid var(--transparent);
    }

    .bloglist-post img {
        height: 160px;
    }

    .bloglist-details {
        margin-top: 8px;
        border: none;
        padding: 12px;
    }

    .carousel-details h3 {
        width: 77%;
    }

    .carousel-excerpt {
        position: absolute;
        opacity: 0;
        transition: 0.3s;
        width: 80%;
        pointer-events: none;
    }
}

@media (min-width: 769px) and (max-width: 1332px) {
    .bloglist-post:hover {
        border-bottom: 3px solid var(--dark-red);
    }

    .bloglist-post:hover .bloglist-details {
        border: none;
    }

    .carousel-post:hover .carousel-details {
        padding-bottom: 108px;
    }

    .carousel-post:hover .carousel-excerpt {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .lessons-details img {
        object-position: 81%;
    }

    .carousel-details h3 {
        width: 87%;
    }

    .about-container, .contact-container {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    main {
        max-width: 95%;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    .header-img {
        grid-template-columns: 23px auto 23px;
    }

    .carousel-post {
        height: 270px;
    }

    .contact-form {
        padding: 32px 16px;
    }

    .bloglist-container {
        grid-template-columns: 25% 75%;
    }

    .contact-form form {
        margin: auto;
    }

    .footer-content {
        grid-template-columns: 60% 40%;
    }
}

/* MEDIA QUERIES - TABLET/MOBILE*/
@media (max-width: 768px) {
    .footer-right, .breadcrumb, .header-top, .header-nav, .index-latest, .lessons-details img {
        display: none;
    }

    h1 {
        font-size: 4rem;
        line-height: 64px;
    }

    h2 {
        font-size: 2.5rem;
    }

    header {
        position: sticky;
        z-index: 1;
        top: 0;
        box-shadow: 0 2px 4px var(--black-shadow);
    }

    .header-top {
        text-align: center;
    }

    .header-logo {
        margin: auto;
        width: 175px;
        padding: 12px 0 8px 0;
    }

    .header-section {
        margin: auto;
    }

    .mobile-nav {
        display: block;
    }

    .header-title h1 {
        margin-top: 80px;
    }

    #postHeader {
        margin-top: 10px;
    }

    .header-title p {
        font-size: 18px;
    }

    .small-nav {
        background: none;
    }

    .back-btn {
        transition: 0s;
        box-shadow: 1px 2px 5px var(--black-shadow);
        padding-right: 56px;
    }

    .back-btn span:before {
        left: 16px;
        opacity: 1;
    }
    
    .index-h2 {
        margin-top: 50px;
    }

    .scroll-btn {
        width: 142px;
    }

    .scroll-btn span {
        width: 100%;
        padding-left: 100px;
    }

    .scroll-btn span:after {
        right: 25px;
        opacity: 1;
        width: 100px;
    }

    .latest-mobile_container {
        border: 3px solid var(--red);
        border-style: solid none solid none;
        padding: 16px 8px;
    }

    .latest-mobile_posts {
        display: grid;
        grid-template-columns: auto auto;
        gap: 16px;
    }

    .index-mobile_post {
        border-radius: 10px;
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: 50% 0;
    }

    .index-mobile_details {
        border-radius: 10px 10px 0 0;
        width: 100%;
        padding: 16px 16px 80px 16px;
        background: linear-gradient(0deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.4) 20%,
        rgba(0,0,0,0.8) 30%,
        rgba(0,0,0,1) 75%);
        color: var(--white);
    }

    .index-mobile_excerpt {
        width: 70%;
    }

    .latest-mobile_link {
        display: block;
        margin-top: 32px;
        box-shadow: 2px 3px 5px var(--blue-green-transparent);
        border-radius: 30px;
        max-width: 100px;
        padding: 12px 0;
        background: linear-gradient(45deg, var(--dark-blue-green), var(--blue-green));
        font-weight: 500;
        text-align: center;
        color: var(--white);
    }

    .latest-mobile_link i {
        padding-left: 8px;
    }

    .bloglist-container {
        display: flex;
        flex-wrap: wrap;
    }

    .sort-container {
        position: relative;
        margin: 0;
        width: 100%;
    }

    .search-container {
        grid-template-columns: 9% 82% 9%;
    }

    .search-container input {
        border-left: 1px solid var(--dark-grey-transparent);
        padding-left: 8px;
    }

    .search-container label {
        border-bottom-left-radius: 0;
    }

    .search-container button {
        border-bottom-right-radius: 0;
    }

    .categories-container {
        margin: auto;
        border-radius: 0 0 5px 5px;
        padding: 16px 64px;
    }

    .bloglist {
        margin: 56px auto 0 auto;
    }

    .bloglist > i {
        font-size: 1.5em;
    }

    .bloglist-post {
        box-shadow: 1px 1px 4px var(--black-shadow);
    }

    .about-center, .contact-center {
        background-position: 0 35%;
    }

    .about-btn {
        margin: 32px 0 24px 0;
    }

    .lessons-header {
        margin: auto;
    }

    .lessons-details {
        gap: 0;
    }

    footer {
        padding: 32px 0;
    }

    footer a {
        text-decoration: underline;
    }

    .footer-content {
        width: 100%;
        padding-left: 32px;
    }
}

@media (max-width: 600px) {
    .contact-img, .about-img img {
        display: none;
    }

    .bloglist-container, input[type=email] {
        width: 100%;
    }

    .posts-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .contact-container {
        display: block;
    }

    .contact-form input[type=submit], .btn-newsletter {
        width: 100%;
        padding: 16px 0;
    }

    .about-container {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .who-container {
        padding-bottom: 24px;
    }

    .lessons-header img {
        height: 100%;
    }

    #postSub span {
        margin: 0;
    }

    #postSub span::after {
        content: "|";
        padding: 0 16px;
        color: var(--red);
    }

    .latest-mobile_posts {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 3.25rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1.125rem;
    }

    #hamburgerMenu {
        width: 180px;
    }

    .header-img {
        grid-template-columns: 1% 98% 1%;
    }

    .header-title br {
        display: block;
    }

    .blogposts {
        grid-template-columns: 1fr;
        gap: 8px;
    }

    .bloglist-post {
        margin: 0;
        padding: 8px;
    }

    .rest-container {
        margin-top: 8px;
    }

    .lessons-header, .contact-input, .categories-container select {
        width: 100%;
    }

    .lessons-header h3 {
        position: relative;
        border-radius: 10px 10px 0 0;
        background-color: var(--light-brown-transparent);
        color: var(--dark-brown);
    }

    .lessons-header img {
        border-radius: 0 0 10px 10px;
    }

    .contact-form {
        padding: 16px;
    }

    .wp-block-media-text {
        grid-template-columns: 1fr;
    }

    .header-author {
        color: var(--white);
    }


    #postSub span {
        font-size: 14px;
    }

    #postSub span::after {
        padding: 0 8px;
    }

    .categories-container {
        padding: 16px;
    }
}